h2 {
    font-family: 'Montserrat';
    color: var(--color-primary);
    text-align: center;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.055em;
}

p,
ul,
blockquote {
    color: var(--color-gray);
    margin-bottom: 1rem;
    font-size: 1.1rem;
    line-height: 1.7em;
    letter-spacing: 0.025em;
}

span.bold {
    font-weight: 800;
    color: var(--color-primary);
    font-size: 1.2rem;
}
