h2 {
    color: var(--color-primary);
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
}

p,
blockquote {
    color: var(--color-gray);
    margin-bottom: 1rem;
    font-size: 1.1rem;
    line-height: 1.7em;
    letter-spacing: 0.025em;
}
