.about-section {
    padding: 5rem 1.5rem;
    background-color: var(--color-off-white);

    @media (min-width: 1000px) {
        padding: 9rem 1.5rem;

        p {
            font-size: 1.3rem;
        }
    }

    .read-more-button {
        border: 0;
        background-color: transparent;
        color: var(--color-primary);
        font-size: 1.1rem;
        align-self: flex-end;
        transition: color 0.3s;

        &:hover {
            cursor: pointer;
            color: var(--color-primary-dark);
        }

        @media (min-width: 1000px) {
            font-size: 1.3rem;
        }
    }

    .hidden {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-in-out;
    }

    .hidden.active {
        max-height: 1000px;
        overflow: auto;
    }
}
