.footer {
    background-color: var(--color-primary-darkest);
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    color: var(--color-white);
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    padding-bottom: 6.5rem;
    font-size: 0.7rem;
    line-height: 1.8em;

    @media (min-width: 1000px) {
        padding-bottom: 1.5rem;
    }

    .logo {
        fill: var(--color-white);
        max-width: 120px;
        aspect-ratio: 565 / 500;
    }

    .text-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
            color: var(--color-white);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        address {
            font-style: normal;
            flex-shrink: 0;
            text-align: center;
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.8em;
            letter-spacing: 0.08em;
        }

        .socials {
            display: flex;
            gap: 0.5rem;
            margin-top: 0.5rem;

            svg {
                fill: var(--color-white);
                max-width: 2.5rem;
                max-height: 2.5rem;
            }
        }
    }
}
