.hero-image {
    width: 100%;
    height: 100vh;
    position: relative;

    @media (min-width: 1250px) {
        height: 600px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .logo {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        fill: var(--color-white);
        max-width: 220px;
        aspect-ratio: 565 / 500;

        @media (min-width: 1250px) {
            max-width: 600px;
        }
    }
}
